body {
    color: #456ba8;
}

.cardButton {
    min-width: 42px;
    min-height: 34px;
}

.spades {
    color: #000000;
}

.hearts {
    color: #ff0000;
}

.diamonds {
    color: #0b1bef;
}

.clubs {
    color: #228417;
}

.buffer-row {
    margin-bottom: 20px;
}

#clear-btn {
    margin-top: 20px;
}
