body {
    color: #456ba8;
}

.cardButton {
    min-width: 42px;
    min-height: 34px;
}

.btn-col {
    min-width: 40px;
}

.spades {
    color: #000000;
}

.hearts {
    color: #ff0000;
}

.diamonds {
    color: #0b1bef;
}

.clubs {
    color: #228417;
}

.buffer-row {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left : 30px;
}

#eval-btn {
    background-color: #6b94d6;
    border-color: #6b94d6;
}

#clear-btn {
    background-color: #de6360;
    border-color: #de6360;
}

.selectedCard {
    background: #f3f3f3;
}

#footer-text {
    color: #54637a;
}
